body{
    background-color: #94d8ff;
    font-family: Arial, Helvetica, sans-serif;
    
}
body h1{
    text-decoration: underline; 
    font-size: 18px;   
}
div{
    text-align: center;
}
canvas#stage{
    box-shadow: 5px 5px 8px black;
    border-radius: 15px;
    padding: 3px;
}
header{
    background-color: #4e41fc;
    margin: -20px 0px 0px -10px;   
}
footer{
    background-color: black;
    color: white;
    text-transform: none;
    text-align: center;
    margin: 10px -20px -20px -20px;
    padding: 5px;
}

/*A partir daqui tudo se resume ao menu principall*/

.menu ul li{
    background-color: #4e41fc;
    color: white;
    width: 200px;
    height: 30px;
    float: left;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    font-size: 20px;
    position: relative;
    border-radius: 2px;
}
.menu ul li:hover{
    background-color: #7c73fd ;
}
.menu ul{
    padding: 0;
}
.menu ul ul {
    display: none;
}
.menu ul li:hover >ul{
    display: block;
}
.menu a{
    color: white;
    text-decoration: none;
}

/* Até aqui corresponde ao menu principal*/



